  <meta charset="utf-8">

  <title><%= title %></title>

  <style>
    html { background-color: #3f729b; }
  </style>

  <meta name="description" content="Joe Biden's Instagram">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/images/ga-favicon.ico" rel="icon">

  <!-- Load JS libraries -->
  <script src="https://code.jquery.com/jquery-2.2.2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.js"></script>

  <!-- Load CSS libraries -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.css" rel="stylesheet">

  <!-- Load local CSS -->
  <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
