<nav class="<%= (typeof show !== 'undefined') ? 'static' : '' %>" >
  <h1 class="script"><a href='/'>WDInstagram</a></h1>
  <ul>
    <li id="all-entries" class="current">All Entries</li>
    <li id="new-entry" class="">New Entry</li>
  </ul>
</nav>
